{% extends "layout.html" %}

{% set active_page = "add_network_template" %}

{% block content %}

<div>
    <h3 class="mb-4">Add a network template</h3>
    <form method="POST" novalidate class="needs-validation row g-3">
        {{form.hidden_tag()}}

        {# Network Template Name field #}
        <div class="mb-2">
            <label for="network_template_name" class="form-label">{{form.network_template_name.label}}</label>
            {{form.network_template_name(class="form-control", required="required", id="network_template_name", placeholder="Good Network")}}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter a name for Network Template.</div>
        </div>

        {# Bandwidth Restriction Upload field #}
        <div class="mb-2">
            <label for="bandwidth_restriction_upload" class="form-label">{{form.bandwidth_restriction_upload.label}}</label>
            {{form.bandwidth_restriction_upload(class="form-control", type="number", min=0, step="0.01", id="bandwidth_restriction_upload")}}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Stop QA'ing and enter a NUMBER.</div>
        </div>

        {# Bandwidth Restriction Download field #}
        <div class="mb-2">
            <label for="bandwidth_restriction_download" class="form-label">{{form.bandwidth_restriction_download.label}}</label>
            {{form.bandwidth_restriction_download(class="form-control", type="number", min=0, step="0.01", id="bandwidth_restriction_download")}}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Stop QA'ing and enter a NUMBER.</div>
        </div>

        {# DNS Latency field #}
        <div class="mb-2">
            <label for="dns_latency" class="form-label">{{form.dns_latency.label}}</label>
            {{form.dns_latency(class="form-control", type="number", min=0, step="0.1", id="dns_latency")}}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Stop QA'ing and enter a NUMBER.</div>
        </div>

        {# General Latency field #}
        <div class="mb-2">
            <label for="general_latency" class="form-label">{{form.general_latency.label}}</label>
            {{form.general_latency(class="form-control", type="number", min=0, step="0.1", id="general_latency")}}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Stop QA'ing and enter a NUMBER.</div>
        </div>

        {# Packet Loss field #}
        <div class="mb-2">
            <label for="packet_loss" class="form-label">{{form.packet_loss.label}}</label>
            {{form.packet_loss(class="form-control", type="number", min=0, step="0.1", id="packet_loss", value=0, placeholder="default value 0")}}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Stop QA'ing and enter a NUMBER.</div>
        </div>


        {# Subnet #}
        {# Subnet IP #}
        <div class="col-md-6">
            <label for="cidr_ip" class="form-label">{{form.cidr_ip.label}}</label>
            {{form.cidr_ip(class="form-control", id="cidr_ip", placeholder="192.168.1.1 (optional)")}}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Stop QA'ing and enter a valid IP address.</div>
        </div>

        {# Subnet Suffix #}
        <div class="col-md-2">
            <label for="cidr_suffix" class="form-label">{{form.cidr_suffix.label}}</label>
            {{form.cidr_suffix(class="form-control", type="number", min=0, max=32, placeholder="30 (optional)")}}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Enter a valid number between 0 - 32</div>
        </div>

        {# submit button #}
        <div class="md-5">
            {{form.submit(class="btn btn-outline-primary")}}
        </div>
    </form>
</div>

{% endblock content %}